body {
    box-sizing: border-box;
    margin: 0;
    padding: o;
}

nav {
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 1.5rem;
}

nav .mainMenu li a:hover {
    background: rgb(255, 94, 0);
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
}

nav .navMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

nav .openMenu {
    display: block;
}

nav .mainMenu li a:hover {
    background: none;
    background-color: whi;
    /* color: rgb(255, 123, 0); */
    font-size: 1.6rem;
}

.icons i {
    display: inline-block;
    padding: 12px;
}

nav .openMenu {
    display: block;
}

nav .mainMenu li a:hover {
    background: none;
    color: rgb(255, 123, 0);
    font-size: 1.6rem;
}

.icon i {
    display: inline-block;
    padding: 12px;
}