.row::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    float: left;
    width: 33.33%;
}

label {
    /* color: black; */
    font-size: 20px;
}

input {
    font-size: 30px;
}

#cent {
    text-align: center;
    margin-left: 360px;
    border-radius: 150%;
    width: 500px;
    height: 50px;
    font-size: 30px;
    color: yellowgreen;
    background-color: black;
}

button {
    font-size: 20px;
    /* border-radius: 300px; */
}

button:hover {
    background-color: red;
}

h1 {
    color: yellow;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    background-color: black;
}

select {
    font-size: 20px;
}

h2 {
    /* text-align: center; */
    margin-top: 80px;
    /* color: red; */
}

p {
    text-align: center;
}

#send {
    text-align: center;
    color: blue;
    margin-left: 600px;
}

i {
    margin-left: 700px;
}

#send {
    font-size: 30px;
    border-radius: 10px;
    color: yellowgreen;
    /* font-size: 30px;
    border-radius: 50px;
    color: yellowgreen; */
    /* background-color: black; */
    width: 90px;
}

a {
    text-decoration: none;
}